body {font-family: "Roboto",
    sans-serif;
    color: #434455;
    background-color: #FFFFFF}
ul {list-style-type: none;}
a {text-decoration: none;}
/*--------------header----------------*/
.header-logo {font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;}
.header-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.header-list-link {font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:#2e2f42;}
.header-list-link:hover,
.header-list-link:focus {color: #404bbf;}
address {font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;}
.header-address-link {color: #434455;}
.header-address-link:hover,
.header-address-link:focus {color: #404bbf;}
/*------------------------------------------*/

/*--------------hero----------------*/
.hero {background-color: #2E2F42;}
.hero-title {font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;}

.hero-button {font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer}
.hero-button:hover,
.hero-button:focus {background-color: #404bbf;}
/*-------------------------------------*/

/*--------------features----------------*/

.features-list-title {font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.features-list-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;}

/*---------------------------------------*/

/*--------------team----------------*/

.team {background-color: #F4F4FD;}

.team-title {font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;}
.team-list-point {background-color: #FFFFFF}

.team-list-point-name {font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}

.team-list-point-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;}
 /*------------------------------------*/

 /*--------------portfolio----------------*/

 .portfolio-title {font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;}

 .portfolio-list-name {font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;}

 .portfolio-list-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;}
 /*---------------------------------*/

 /*---------------footer------------------*/
 .footer {background-color: #2e2f42;}

 .footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 117%;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4D5AE5;
 }

 .footer-logo-color {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 117%;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #f4f4fd;
 }
.footer-text {
 font-size: 16px;
 line-height: 150%;
 letter-spacing: 0.02em;
 color: #f4f4fd;}